@{
    ViewBag.Title = "GioHangRong";
    Layout = "~/Views/LayoutMaster/UserLayout.cshtml";
}

<div style="text-align:center">
    <h2>Giỏ Hàng Rỗng</h2>
    <button><a href="@Url.Action("Index","Home")">Đi mua hàng</a></button>
</div>




