@{
    ViewBag.Title = "ThanhToan";
    Layout = "~/Views/LayoutMaster/UserLayout.cshtml";
}

<!--================Order Details Area =================-->
<section class="order_details section_gap">
	<div class="container">
		<h3 class="title_confirmation">Cảm ơn bạn đã đặt hàng của chúng tôi</h3>
		<div class="row order_d_inner">
			<div class="col-lg-4">
				<div class="details_item">
					<h4>Thông tin đơn hàng</h4>
					<ul class="list">
						<li><a href="#"><span>Mã đơn hàng</span> : 60235</a></li>
						<li><a href="#"><span>Ngày đặt</span> : 25/12/2020</a></li>
						<li><a href="#"><span>Thành tiền</span> : 2.000.000 VNĐ</a></li>
						<li><a href="#"><span>Hình thức thanh toán</span> : Khi giao hàng</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4">
			</div>
			<div class="col-lg-4">
				<div class="details_item">
					<h4>Địa chỉ giao hàng</h4>
					<ul class="list">
						<li><a href="#"><span>Tên Khách Hang</span> : Nguyễn Thành Long</a></li>
						<li><a href="#"><span>Số điện Thoại</span> : 0356614606</a></li>
						<li><a href="#"><span>Địa Chỉ</span> : Tân Phú TP.HCM</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="order_details_table">
			<h2>Order Details</h2>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Sản Phẩm</th>
							<th scope="col">Số lượng</th>
							<th scope="col">Đơn giá</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<p>Pixelstore fresh Blackberry</p>
							</td>
							<td>
								<h5>x 02</h5>
							</td>
							<td>
								<p>$720.00</p>
							</td>
						</tr>
						<tr>
							<td>
								<p>Pixelstore fresh Blackberry</p>
							</td>
							<td>
								<h5>x 02</h5>
							</td>
							<td>
								<p>$720.00</p>
							</td>
						</tr>
						<tr>
							<td>
								<p>Pixelstore fresh Blackberry</p>
							</td>
							<td>
								<h5>x 02</h5>
							</td>
							<td>
								<p>$720.00</p>
							</td>
						</tr>
						<tr>
							<td>
								<h4>Tiền Hàng</h4>
							</td>
							<td>
								<h5></h5>
							</td>
							<td>
								<p>$2160.00</p>
							</td>
						</tr>
						<tr>
							<td>
								<h4>Tiền giao hàng</h4>
							</td>
							<td>
								<h5></h5>
							</td>
							<td>
								<p>$50.00</p>
							</td>
						</tr>
						<tr>
							<td>
								<h4>Thành Tiền</h4>
							</td>
							<td>
								<h5></h5>
							</td>
							<td>
								<p>$2210.00</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
<!--================End Order Details Area =================-->
